body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

.navy-blue {
    background-color: #1f2937;
    padding: 30px 150px;
}

.hero-container {
    max-width: 1200px;
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-between;
}

h3 {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    display: flex;
    list-style: none;
    gap: 15px;
    align-items: center;
    margin: 0px;
    padding: 10px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin: 25px 0px;
}

.navy-blue p {
    color: #F9FAF8;
    line-height: 28px;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-family: 'Roboto';
    border-radius: 10px;
    padding: 8px 30px;
    font-weight: bold;
    font-size: 15px;
}


.intro {
    display: flex;
    margin: 20px 0px;
    gap: 20px;
    justify-content: center;
}

.testimonial-container {
    padding: 50px 150px;
}


.testimony>img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    border: 8px solid #3882F6;
}

.testimony {
    text-align: center;
}

.testimonials {
    display: flex;
    gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 25px 0px;
}

.quote-section {
    background-color: #e5e7eb;
    padding: 100px 200px;
}

.quote-container {
    margin: auto;
    max-width: 1000px;
}

.quote {
    font-size: 36px; 
    font-weight: 300px; 
    font-style: italic; 
    color: #1f2937;
    line-height: 60px;
    text-align: justify;
}

.footer {
    padding: 100px 200px;
}

.cta-container {
    background-color: #3882f6;
    color: #e5e7eb;
    padding: 40px 80px;
    border-radius: 10px;
    max-width: 1300px;
    margin: auto;
}

.cta {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: auto;
}

.cta h3 {
    margin-top: 0px;
}

.cta button {
    align-self: center;
    border: 2px solid #f9faf8;
}

.post-script {
    background-color: #1F2937;
    color: #f9faf8;
    padding: 20px;
}