body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
}

.navy-blue {
    background-color: #1f2937;
    padding: 200px;
}

.header {
    display: flex;
    justify-content: space-between;
}

h3 {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    display: flex;
    list-style: none;
    gap: 15px;
    align-items: center;
    margin: 0px;
    padding: 10px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

/* h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.intro p */