body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

.navy-blue {
    background-color: #1f2937;
    padding: 30px 150px;
}

.hero-container {
    max-width: 1200px;
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-between;
}

h3 {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    display: flex;
    list-style: none;
    gap: 15px;
    align-items: center;
    margin: 0px;
    padding: 10px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin: 25px 0px;
}

.navy-blue p {
    color: #F9FAF8;
    line-height: 28px;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-family: 'Roboto';
    border-radius: 10px;
    padding: 5px 25px;
    font-weight: bold;
    font-size: 15px;
}

.intro {
    display: flex;
    margin: 20px 0px;
    gap: 20px;
    justify-content: center;
}

.information {
    padding: 50px 150px;
}

.testimony>img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border: 8px solid #3882F6;
}

.testimony {
    text-align: center;
}

.testimonials {
    display: flex;
    gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 25px 0px;
}